<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <pre>
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      </pre>

     <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group"
          [ngClass]="{
            'has-feedback': projectForm.get('projectName').touched,
            'has-success': projectForm.get('projectName').touched && projectForm.get('projectName').valid,
            'has-error': projectForm.get('projectName').touched && !projectForm.get('projectName').valid
          }">
          <label for="projectName">Project Name</label>
          <input
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control" />
          <span class="glyphicon form-control-feedback"
            [ngClass]="{
              'glyphicon-ok': projectForm.get('projectName').valid && projectForm.get('projectName').touched,
              'glyphicon-remove': !projectForm.get('projectName').valid && projectForm.get('projectName').touched
            }"
            aria-hidden="true"></span>
          <span
            *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched"
            class="help-block">
            <span *ngIf="projectForm.get('projectName').errors['invalidProjectName']">This project is invalid!</span>
            <span *ngIf="projectForm.get('projectName').errors['required']">Project projectName is required!</span>
          </span>
        </div>
        <div class="form-group"
          [ngClass]="{
            'has-feedback': projectForm.get('email').touched,
            'has-success': projectForm.get('email').touched && projectForm.get('email').valid,
            'has-error': projectForm.get('email').touched && !projectForm.get('email').valid
          }">
          <label for="email">Email</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </span>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control" />
          </div>
          <span class="glyphicon form-control-feedback"
            [ngClass]="{
              'glyphicon-ok': projectForm.get('email').touched && projectForm.get('email').valid,
              'glyphicon-remove': projectForm.get('email').touched && !projectForm.get('email').valid
            }"
            aria-hidden="true"></span>
          <span
            *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched"
            class="help-block">
            <span *ngIf="projectForm.get('email').errors['email']">Please, enter a valid email!</span>
            <span *ngIf="projectForm.get('email').errors['required']">Email is required!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="projectStatus">Project Status</label>
          <select
            name="projectStatus"
            id="projectStatus"
            formControlName="projectStatus"
            class="form-control">
            <option
              *ngFor="let statusOpt of statusOptions"
              [value]="statusOpt.value">{{ statusOpt.label }}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Create Project</button>
      </form>

    </div>
  </div>
</div>
